.nav-tab-wrapper .updraftplus-nav-tab.nav-tab-active,
.nav-tab-wrapper .updraftplus-nav-tab.nav-tab-active:hover,
.nav-tab-wrapper .updraftplus-nav-tab.nav-tab-active:focus,
.nav-tab-wrapper .updraftplus-nav-tab.nav-tab-active:focus:active {
    background-color: #191f25 !important;
}
.updraftplus-nav-tab {
    background-color: #23282d !important;
}
.updraft_next_scheduled_backups_wrapper>div,
#ud_massactions,
#updraft-delete-waitwarning,
.updraft_time_now_label,
.updraft_time_now {
    background: none !important;
}
#future-posts li:nth-child(odd),
#published-posts li:nth-child(odd) {
    background-color: #23282d !important;    
}
.components-placeholder.components-placeholder {
    background-color: #191f25 !important;
}
.blocks-shortcode__textarea {
    background-color: #50626f !important;
    color: #ffffff !important;
}
p:last-child {
    margin-bottom: 0px !important;
}

blockquote,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-quote.has-text-align-right {
    border-left: 3px solid rgb(15,190,124);
}

.editormd-preview,
.editormd-html-preview,
.editormd-preview-container,
.editormd-preview li {
    background-color: #191f25 !important;
    color: #bbc8d4;
}
